.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid #686868;
  border-radius: 8px;
  gap: 2rem;
  padding: 0.25rem 2rem;
  height: 2rem;
  min-width: 8rem;
  /* -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; */
}

.statsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.statsContainer p {
  font-size: 1rem;
  font-weight: 300;
}
