.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100vh - 10rem);
  overflow: auto;
  width: calc(100% - 4rem);
  padding: 2rem 2rem;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
}

.tweaksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.listGridSwapperContainer {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex: 1;
}

.roomStatsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  flex: 1;
}

@media (max-width: 624px) {
  .searchContainer {
    justify-content: center;
  }
}

.plantsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

.plantRowList {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

.plantRowGrid {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 963px) {
  .plantRowList {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 705px) {
  .plantRowGrid {
    display: flex;
    justify-content: space-between;
  }
}
